body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a:hover {text-decoration:none}
.style1 {
	color: #676767;
	font-size: 11px;
	font-family: tahoma;
	text-decoration:none;
	font-weight:bold
}
.style2 {
	color: #6b6b6b;
	font-size: 11px;
	font-family: tahoma;
	text-decoration:none
}
.style3 {
	color: #5DAC00;
	font-size: 11px;
	font-family: tahoma;
}
.style4 {
	color: #505050;
	font-size: 11px;
	font-family: tahoma;
}
.style5 {
	color: #4494C3;
	font-size: 11px;
	font-family: tahoma;
}
.style6 {
	color: #4494C3;
	font-size: 9px;
	font-family: tahoma;
}
.style7 {
	color: #4BC600;
	font-size: 9px;
	font-family: tahoma;
}
.style8 {
	color: #676767;
	font-size: 11px;
	font-family: tahoma
}
.style9 {
	color: #389400;
	font-size: 11px;
	font-family: tahoma
}
#mu li {list-style:url(images/p_3.jpg); margin:0 0 0 0px}
#mu a { font-family:tahoma; font-size:11px; color:#4494C3}

 




